<h3>Motion Graphics</h3>
 
 <h2>Los Fearless</h2>


<div class="simple-article-header">




   <!-- Article Video -->
  <div class="article-post-image">
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WBA92DhxehQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>    
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content">
    <p>This is just a sample of what was done in my motion graphics class</p>
  </div>

</div>
